ul.html-tree {
  list-style: none outside;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;

  &.html-tree-dnd {
    touch-action: none;
  }

  ul.html-tree-common {
    list-style: none outside;
    margin-left: 12px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    display: block;
  }

  li.html-tree-closed > ul.html-tree-common {
    display: none;
  }

  li.html-tree-common {
    clear: both;
    list-style-type: none;
  }

  .html-tree-toggler {
    border-bottom: none;
    color: #333;
    text-decoration: none;
    vertical-align: middle;

    &:hover {
      color: #000;
      text-decoration: none;
    }

    &.html-tree-closed {
      background-position: 0 0;
    }

    &.html-tree-toggler-left {
      margin-right: 0.5em;
    }

    &.html-tree-toggler-right {
      margin-left: 0.5em;
    }
  }

  .html-tree-element {
    cursor: pointer;
    position: relative;
    display: flex;

    &:has(.html-tree-title-button-right) {
      display: block;
    }
  }

  .html-tree-title {
    color: #1c4257;
    vertical-align: middle;
  }

  .html-tree-title-button-left {
    margin-left: 1.5em;

    &.html-tree-title-folder {
      margin-left: 0;
    }
  }

  li.html-tree-folder {
    margin-bottom: 4px;

    &.html-tree-closed {
      margin-bottom: 1px;
    }
  }

  li.html-tree-ghost {
    position: relative;
    z-index: 10;
    margin-right: 10px;

    span {
      display: block;
    }

    span.html-tree-circle {
      border: solid 2px #0000ff;
      border-radius: 100px;
      height: 8px;
      width: 8px;
      position: absolute;
      top: -4px;
      left: -6px;
      box-sizing: border-box;
    }

    span.html-tree-line {
      background-color: #0000ff;
      height: 2px;
      padding: 0;
      position: absolute;
      top: -1px;
      left: 2px;
      width: 100%;
    }

    &.html-tree-inside {
      margin-left: 48px;
    }
  }

  span.html-tree-border {
    position: absolute;
    display: block;
    left: -2px;
    top: 0;
    border: solid 2px #0000ff;
    border-radius: 6px;
    margin: 0;
    box-sizing: content-box;
  }

  li.html-tree-selected > .html-tree-element,
  li.html-tree-selected > .html-tree-element:hover {
    background-color: #97bdd6;
    background: linear-gradient(#bee0f5, #89afca);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  }

  .html-tree-moving > .html-tree-element .html-tree-title {
    outline: dashed 1px #0000ff;
  }
}

ul.html-tree.html-tree-rtl {
  direction: rtl;

  ul.html-tree-common {
    margin-left: 0;
    margin-right: 12px;
  }

  .html-tree-toggler {
    margin-left: 0.5em;
    margin-right: 0;
  }

  .html-tree-title {
    margin-left: 0;
    margin-right: 1.5em;

    &.html-tree-title-folder {
      margin-right: 0;
    }
  }

  li.html-tree-ghost {
    margin-right: 0;
    margin-left: 10px;

    span.html-tree-circle {
      right: -6px;
    }

    span.html-tree-line {
      right: 2px;
    }

    &.html-tree-inside {
      margin-left: 0;
      margin-right: 48px;
    }
  }

  span.html-tree-border {
    right: -2px;
  }
}

span.html-tree-dragging {
  color: #fff;
  background: #000;
  opacity: 0.6;
  cursor: pointer;
  padding: 2px 8px;
}
